* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* illegal coding start  useful for logout*/

.illegal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #fff;
    min-height: 100vh;
}

.illegal h1 {
    font-size: 65px;
}

/* second column code 
* - contact column
 */

.contact-list-box {
    background-color: #44b4d6;
    height: 80vh;
    border-radius: 20px;
    box-shadow: 3px 3px 5px black;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 2px;
}

.contact-list-box .user-icon i {
    font-size: 65px;
}

/* Working on Accordion */

.accordion .accordion-item button {
    box-shadow: none !important;
    border: none;
    font-size: 22px;
    color: inherit !important;
}

.accordion i {
    font-size: 22px;
    margin-bottom: 3px;
    cursor: pointer;
}

#logout-btn {
    cursor: pointer;
}

.option-box {
    position: absolute;
    right: -3px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 3px;
    opacity: 0;
    margin-bottom: 15px;
}

.option-box i {
    margin: 5px 0px;
}

.option-box.active {
    opacity: 1;
}

/* First Column Code
*  create new contact
 */

.btn-box button.create-btn {
    background-color: #59cad2;
}

.btn-box button:hover {
    background-color: #44868b;
}